/* .underline-text-input {
  border-color: #a4a4a4;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-radius: 0;
  border-width: 2px;
}
.underline-text-input:focus {
  outline: none;
  box-shadow: none;
  border-color: #fbc724;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  border-radius: 0;
  border-width: 2px;
  transition: linear 0.2s ease;
} */

.table-header th {
  color: rgb(61, 61, 61);

  border-width: 1px;
  border-color: #c5c5c5;
  border-style: solid !important;
  font-weight: normal;
}

tbody tr {
  padding: 5px;
}

.table-header {
  background-image: linear-gradient(white, #e0e0e0 80%);
}

.text-blue {
  color: #2d5b8e;
}

.hover:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(192, 192, 192, 0.2);
  transition: 0.2s ease-in-out;
}

.button-smaller {
  height: 20px !important;
  width: auto !important;;
  border-radius: 100%;
}