.rotate180 {
  transform: rotate(180deg);
  transition: all 0.5s ease;
}

.rotate-180 {
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.table-header th {
  color: rgb(61, 61, 61);
  border-width: 1px;
  border-color: #c5c5c5;
  border-style: solid !important;
  font-weight: normal;
}

.table-header {
  background-image: linear-gradient(white, #e0e0e0 80%);
}

tbody tr {
  padding: 5px;
}

.text-blue {
  color: #2d5b8e;
}
